header
  p: a(href:'/') Get on Board
  p #{board.name}
section
  ul.board('data-slug': board.slug, 'data-rev': board.rev, 'data-rights': rights)
    -each stack in board.stacks
      != partial('../stacks/item', {stack: stack, rights: rights})
- if (board.stacks.length && rights >= 2)
  section#tplStickyForm!= partial('../stickies/form', {stack: board.stacks[0], rights: rights})
section#tplSticky!= partial('../stickies/item', {rights: rights, sticky: null})
aside
  section.users
    ul!= partial('users/gallery', {users: board.allow.users})
    a.users(href: board.url() + '/users', title: "Users list")
  section.tools
    ul
      - if (rights >= 2)
        li: a.folderAdd(href: board.url() + '/stack', title: "Add stack")
        li
          section.trash.stack
            ul
              li
      - if (board.stacks.length && rights >= 2)
          li: a#addSticky.stickyAdd(href: board.stacks[0].url() + '/sticky', title: 'New stickies')
  section.state
    ul
      li.disconnect#socketState
      li!= partial('users/rights', {item_rights: rights})
